# **Cours : Traitement de données en tables avec des dictionnaires (Première NSI)**

## **Introduction**
Pour manipuler des données tabulaires en Python, une approche courante est d'utiliser une liste de dictionnaires, où chaque dictionnaire représente une ligne avec des clés pour les colonnes. Cela facilite l'accès aux données par nom de colonne, plutôt que par indice.

Nous utilisons également `csv.DictReader` pour importer facilement des données depuis des fichiers CSV.

## **1. Indexation des tables**
Avec une liste de dictionnaires, chaque élément est un dictionnaire représentant une ligne, et on peut accéder aux valeurs par clé.

### **Exemple :**
Voici une table contenant des informations sur des étudiants, représentée comme une liste de dictionnaires :

In [ ]:
etudiants = [
    {"Nom": "Ali", "Classe": "1A", "Note": 14},
    {"Nom": "Sarah", "Classe": "1B", "Note": 16},
    {"Nom": "Yasmine", "Classe": "1A", "Note": 12},
]

# Exemple d'accès à une donnée :
print(etudiants[1]["Note"])  # Note de Sarah

### **Exercice d'application :**
1. Dans la table ci-dessus, affichez :
   - La classe de "Ali".
   - Toutes les informations du troisième étudiant.
2. Modifiez la note de "Yasmine" pour qu'elle devienne 15.

## **2. Importer des tables depuis des fichiers texte ou CSV**
Avec `csv.DictReader`, chaque ligne du fichier est convertie en un dictionnaire. Cela permet d'accéder directement aux données par nom de colonne.

### **Exemple :**
Créer un fichier CSV nommé `etudiants.csv` avec le contenu suivant :
```
Nom,Classe,Note
Ali,1A,14
Sarah,1B,16
Yasmine,1A,12
```

Pour lire ce fichier en Python :

In [ ]:
import csv

with open("etudiants.csv", "r") as fichier:
    lecteur_csv = csv.DictReader(fichier)
    table = [ligne for ligne in lecteur_csv]

print(table)

### **Exercice d'application :**
1. Créez un fichier CSV nommé `produits.csv` avec les colonnes : `Nom`, `Prix`, `Stock`.
2. Écrivez un programme Python pour lire ce fichier et afficher toutes les lignes.

## **3. Chercher des lignes selon des critères logiques**
On peut rechercher des lignes respectant une condition logique en parcourant la liste de dictionnaires.

### **Exemple :**
Afficher les étudiants avec une note supérieure ou égale à 15 :

In [ ]:
for etudiant in etudiants:
    if etudiant["Note"] >= 15:
        print(etudiant)

### **Exercice d'application :**
1. Écrivez un programme pour afficher les étudiants de la classe "1A".
2. Ajoutez un critère pour afficher ceux ayant une note strictement inférieure à 14.

## **4. Trier une table par une colonne**
Pour trier une liste de dictionnaires, on utilise la fonction `sorted` avec l'argument `key`.

### **Exemple :**
Trier les étudiants par leur note :

In [ ]:
# Fonction pour extraire la clé de tri
def get_note(etudiant):
    return etudiant["Note"]

# Tri par note
etudiants_tries = sorted(etudiants, key=get_note)
print(etudiants_tries)

### **Pourquoi utiliser `key` ?**
- L'argument `key` permet de spécifier comment comparer les éléments.
- Dans ce cas, `get_note` retourne la valeur associée à la clé "Note" pour chaque dictionnaire.
- `sorted` utilise ces valeurs pour effectuer le tri.

### **Exercice d'application :**
1. Ajoutez un étudiant nommé "Omar", classe "1B", note 14.
2. Affichez la table triée par nom (ordre alphabétique).
3. Essayez de trier les étudiants par leur classe, puis par leur note.

## **5. Fusionner des tables pour en créer une nouvelle**
Pour fusionner deux tables, on combine les dictionnaires ayant une clé commune.

### **Exemple :**

In [ ]:
activites = [
    {"Nom": "Ali", "Activité": "Football"},
    {"Nom": "Sarah", "Activité": "Théâtre"},
    {"Nom": "Yasmine", "Activité": "Musique"},
]

fusion = []
for etu in etudiants:
    for act in activites:
        if etu["Nom"] == act["Nom"]:
            fusion.append({**etu, **act})

print(fusion)

### **Exercice d'application :**
1. Créez une table `professeurs` avec `Nom` et `Matière` comme colonnes.
2. Fusionnez cette table avec une table `classes` associant un professeur à une classe.

## **Résumé**
Ce cours a abordé les notions essentielles du traitement des données en tables avec des dictionnaires :
1. Indexation et accès aux données par clé.
2. Importation de données depuis des fichiers CSV avec `csv.DictReader`.
3. Recherche de lignes selon des critères logiques.
4. Tri de données avec `sorted` et une fonction clé.
5. Fusion de tables en combinant des dictionnaires.

Ces compétences permettent une manipulation flexible et lisible des données tabulaires.

### **Correction des exercices : 1. Indexation des tables**

In [ ]:
# Correction des exercices d'indexation
# Classe d'Ali
print(etudiants[0]['Classe'])  # Affiche 1A

# Informations du troisième étudiant
print(etudiants[2])

# Modification de la note de Yasmine
etudiants[2]['Note'] = 15
print(etudiants[2])

### **Correction des exercices : 2. Importer des tables depuis des fichiers texte ou CSV**

In [ ]:
# Lecture du fichier CSV (hypothèse : produits.csv existe déjà avec les colonnes Nom, Prix, Stock)
import csv

with open('produits.csv', 'r') as fichier:
    lecteur_csv = csv.DictReader(fichier)
    produits = [ligne for ligne in lecteur_csv]

print(produits)

### **Correction des exercices : 3. Chercher des lignes selon des critères logiques**

In [ ]:
# Étudiants de la classe 1A
for etudiant in etudiants:
    if etudiant['Classe'] == '1A':
        print(etudiant)

# Étudiants ayant une note strictement inférieure à 14
for etudiant in etudiants:
    if etudiant['Note'] < 14:
        print(etudiant)

### **Correction des exercices : 4. Trier une table par une colonne**

In [ ]:
# Ajout d'Omar
etudiants.append({'Nom': 'Omar', 'Classe': '1B', 'Note': 14})

# Tri par nom
etudiants_tries_nom = sorted(etudiants, key=lambda x: x['Nom'])
print(etudiants_tries_nom)

# Tri par classe puis par note
etudiants_tries_classe_note = sorted(etudiants, key=lambda x: (x['Classe'], x['Note']))
print(etudiants_tries_classe_note)

### **Correction des exercices : 5. Fusionner des tables pour en créer une nouvelle**

In [ ]:
# Création des tables professeurs et classes
professeurs = [
    {'Nom': 'Mme Dupont', 'Matière': 'Mathématiques'},
    {'Nom': 'M. Lefevre', 'Matière': 'Physique'},
]

classes = [
    {'Nom': 'Mme Dupont', 'Classe': '1A'},
    {'Nom': 'M. Lefevre', 'Classe': '1B'},
]

# Fusion des deux tables
fusion = []
for prof in professeurs:
    for classe in classes:
        if prof['Nom'] == classe['Nom']:
            fusion.append({**prof, **classe})

print(fusion)