# **Cours : Traitement de données en tables (Première NSI)**

## **Introduction**
Le traitement des données en tables est essentiel pour manipuler et analyser des informations structurées. En NSI, nous apprenons à travailler avec des tables en Python en utilisant des listes et des bibliothèques comme `csv`.

## **1. Indexation des tables**
Une table est souvent représentée par une liste de listes (ou un tableau 2D). Chaque ligne représente un enregistrement, et chaque colonne correspond à un attribut.

### **Exemple :**
Voici une table contenant des informations sur des étudiants :

In [ ]:
etudiants = [
    ["Nom", "Classe", "Note"],
    ["Ali", "1A", 14],
    ["Sarah", "1B", 16],
    ["Yasmine", "1A", 12],
]
# Exemple d'accès à une donnée :
print(etudiants[2][2])  # Note de Sarah

### **Exercice d'application :**
1. Dans la table ci-dessus, affichez :
   - La classe de "Ali".
   - Toutes les informations de la troisième ligne.
2. Modifiez la note de "Yasmine" pour qu'elle devienne 15.

## **2. Importer des tables depuis des fichiers texte ou CSV**
Les fichiers CSV (Comma-Separated Values) sont couramment utilisés pour stocker des données tabulaires.

### **Exemple :**
Créer un fichier CSV nommé `etudiants.csv` avec le contenu suivant :
```
Nom,Classe,Note
Ali,1A,14
Sarah,1B,16
Yasmine,1A,12
```

Pour lire ce fichier en Python :

In [ ]:
import csv

with open("etudiants.csv", "r") as fichier:
    lecteur_csv = csv.reader(fichier)
    table = [ligne for ligne in lecteur_csv]

print(table)

### **Exercice d'application :**
1. Créez un fichier CSV nommé `produits.csv` avec les colonnes : `Nom`, `Prix`, `Stock`.
2. Écrivez un programme Python pour lire ce fichier et afficher toutes les lignes.

## **3. Chercher des lignes selon des critères logiques**
On peut rechercher des lignes qui respectent une condition logique.

### **Exemple :**
Afficher les étudiants avec une note supérieure ou égale à 15 :

In [ ]:
for ligne in etudiants[1:]:  # Ignorer l'en-tête
    if ligne[2] >= 15:
        print(ligne)

### **Exercice d'application :**
1. Écrivez un programme pour afficher les étudiants de la classe "1A".
2. Ajoutez un critère pour afficher ceux ayant une note strictement inférieure à 14.

## **4. Trier une table par une colonne**
Pour trier une table, Python utilise la fonction `sorted`. Cette fonction est très puissante car elle permet de spécifier une **fonction clé** qui détermine comment les éléments sont triés.

In [ ]:
# Exemple : Trier par la note (3e colonne)
def get_note(etudiant):
    return etudiant[2]

etudiants_tries = sorted(etudiants[1:], key=get_note)
print(etudiants_tries)

### **Exercice d'application :**
1. Ajoutez une ligne pour un étudiant nommé "Omar", classe "1B", note 14.
2. Affichez la table triée par nom (ordre alphabétique).
3. Essayez de trier les étudiants par leur classe, puis par leur note.

## **5. Fusionner des tables pour en créer une nouvelle**
On peut combiner deux tables ayant une colonne commune pour créer une table enrichie.

### **Exemple :**

In [ ]:
activites = [
    ["Nom", "Activité"],
    ["Ali", "Football"],
    ["Sarah", "Théâtre"],
    ["Yasmine", "Musique"],
]

fusion = []
for etu in etudiants[1:]:
    for act in activites[1:]:
        if etu[0] == act[0]:
            fusion.append(etu + act[1:])

print(fusion)

### **Exercice d'application :**
1. Créez une table `professeurs` avec `Nom` et `Matière` comme colonnes.
2. Fusionnez cette table avec une table `classes` associant un professeur à une classe.

## **Résumé**
Ce cours a abordé les notions essentielles du traitement des données en tables :
1. Indexation des données.
2. Importation de tables depuis des fichiers CSV.
3. Recherche de lignes selon des critères.
4. Tri de données avec la fonction `sorted` et une fonction clé.
5. Fusion de tables pour enrichir les données.

Ces compétences sont fondamentales pour manipuler des bases de données et résoudre des problèmes concrets avec Python.

### **Correction des exercices : 1. Indexation des tables**

In [ ]:
# Correction des exercices d'indexation
# Classe d'Ali
print(etudiants[0]['Classe'])  # Affiche 1A

# Informations du troisième étudiant
print(etudiants[2])

# Modification de la note de Yasmine
etudiants[2]['Note'] = 15
print(etudiants[2])

### **Correction des exercices : 2. Importer des tables depuis des fichiers texte ou CSV**

In [ ]:
# Lecture du fichier CSV (hypothèse : produits.csv existe déjà avec les colonnes Nom, Prix, Stock)
import csv

with open('produits.csv', 'r') as fichier:
    lecteur_csv = csv.DictReader(fichier)
    produits = [ligne for ligne in lecteur_csv]

print(produits)

### **Correction des exercices : 3. Chercher des lignes selon des critères logiques**

In [ ]:
# Étudiants de la classe 1A
for etudiant in etudiants:
    if etudiant['Classe'] == '1A':
        print(etudiant)

# Étudiants ayant une note strictement inférieure à 14
for etudiant in etudiants:
    if etudiant['Note'] < 14:
        print(etudiant)

### **Correction des exercices : 4. Trier une table par une colonne**

In [ ]:
# Ajout d'Omar
etudiants.append({'Nom': 'Omar', 'Classe': '1B', 'Note': 14})

# Tri par nom
etudiants_tries_nom = sorted(etudiants, key=lambda x: x['Nom'])
print(etudiants_tries_nom)

# Tri par classe puis par note
etudiants_tries_classe_note = sorted(etudiants, key=lambda x: (x['Classe'], x['Note']))
print(etudiants_tries_classe_note)

### **Correction des exercices : 5. Fusionner des tables pour en créer une nouvelle**

In [ ]:
# Création des tables professeurs et classes
professeurs = [
    {'Nom': 'Mme Dupont', 'Matière': 'Mathématiques'},
    {'Nom': 'M. Lefevre', 'Matière': 'Physique'},
]

classes = [
    {'Nom': 'Mme Dupont', 'Classe': '1A'},
    {'Nom': 'M. Lefevre', 'Classe': '1B'},
]

# Fusion des deux tables
fusion = []
for prof in professeurs:
    for classe in classes:
        if prof['Nom'] == classe['Nom']:
            fusion.append({**prof, **classe})

print(fusion)